<div id="cont">
    <form (ngSubmit)="updateTask()">
      <div class="h-[10%] bg-gray-500 rounded-sm flex items-center justify-center text-white text-2xl p-2">
        <p>Edit Task</p>
      </div>
      <div class="h-fit grid-rows-2">
        <div *ngIf="dataToEdit && dataToEdit.length > 0">
          <div *ngFor="let item of dataToEdit; let i = index">
          </div>
        </div>
        <div *ngIf="selectedTask" class="grid grid-row-4 text-center gap-4">
          <div class="border border-gray-900 p-1">
            <p>New task name</p>
            <input type="text" class="w-full border-2 border-gray-900" *ngIf="isEdited" [(ngModel)]="selectedTaskName" name="name">
          </div>
          <div class="border border-gray-900 p-1">
            <p>New task description</p>
            <input type="text" class="w-full border-2 border-gray-900" *ngIf="isEdited" [(ngModel)]="selectedTask.description" name="progress">
          </div>
          <div class="border border-gray-900 p-1"> 
            <p>Task progress</p>
            <div *ngIf="">
              <app-select [selectedProgress]="selectedTask.selectedProg" [selectedStatus]="selectedTask.selectedProd" [showProgress]="true" name="progress"></app-select>
            </div>
          </div>
          <div class="border border-gray-900 p-1">
            <p>Task status</p>
            <div *ngIf="isEdited">
              <app-select [selectedStatus]="selectedTask.selectedProd" [selectedProgress]="selectedTask.selectedProg" [showTask]="true" (progressSelected)="onSelectedTask($event)" name="status"></app-select>
            </div>
          </div>
        </div>
      </div>
      <div class="h-[10%] flex items-center justify-center gap-5 mt-5">
        <button class="border-2 border-gray-900 bg-blue-500 px-3 py-2" (click)="openTab()">Edit</button>
        <button class="border-2 border-gray-900 bg-red-500 px-3 py-2" (click)="deleteTask()">Delete</button>
        <button (click)="genSer.showEdit = false" class="border-2 border-gray-900 bg-gray-500 px-3 py-2">Close</button>
        <div *ngIf="isEdited">
            <button class="border-2 border-gray-900 bg-green-500 px-3 py-2" type="submit">Save</button>
        </div>
      </div>
    </form>
  </div>
  