<app-window *ngIf="serv.showEdit" [dataToEdit]="items" [selectedTask]="selectedTask" (taskUpdated)="updateTask()" (taskDeleted)="deleteTask()"></app-window>
<app-sorting [todoItems]="todoItems" [testItems]="testItems"  [prodItems]="prodItems" [inProgressItems]="inProgressItems"></app-sorting>
<div class="h-fit w-full border border-gray-700 grid grid-cols-4" cdkDropListGroup>
    <app-visible-list [items]="todoItems | filterItems: makeSearch" [listId]="'todo-list'" (itemDropped)="drop($event, todoItems)" (itemSelected)="selectItem(todoItems, $event)"></app-visible-list>

    <app-visible-list [items]="inProgressItems | filterItems: makeSearch" [listId]="'in-progress-list'" (itemDropped)="drop($event, inProgressItems)" (itemSelected)="selectItem(inProgressItems, $event)"></app-visible-list>

    <app-visible-list [items]="testItems | filterItems: makeSearch" [listId]="'test-list'" (itemDropped)="drop($event, testItems)" (itemSelected)="selectItem(testItems, $event)"></app-visible-list>

    <app-visible-list [items]="prodItems | filterItems: makeSearch" [listId]="'prod-list'" (itemDropped)="drop($event, prodItems)" (itemSelected)="selectItem(prodItems, $event)"></app-visible-list>
</div>