<app-modal *ngIf="genService.showModal" (newItemEvent)="addItems($event)"></app-modal>
<div class="w-screen h-screen flex justify-center items-center bg-[#ebebe3]">
  <div class="w-[80%] h-full">
    <div class="h-[5%] w-full grid grid-cols-4 border border-gray-700">
      <div (click)="genService.showModal = true" class="bg-[#4a4a48] focus:text-white flex items-center justify-center border-r border-[#ebebe3] hover:opacity-75 hover:text-white cursor-pointer">
        <button>To-Do</button>
      </div>
      <div class="bg-[#4a4a48] flex items-center justify-center border-r border-[#ebebe3] hover:opacity-75 hover:text-white cursor-pointer">
        <button>Progress</button>
      </div>
      <div class="bg-[#4a4a48] flex items-center justify-center border-r border-[#ebebe3] hover:opacity-75 hover:text-white cursor-pointer">
        <button>Test</button>
      </div>
      <div class="bg-[#4a4a48] flex items-center justify-center hover:opacity-75 cursor-pointer hover:text-white">
        <button>Production</button>
      </div>
    </div>
    <div class="w-full h-fit py-2 border-x-2 border-gray-700 flex justify-center items-center">
      <div>
        <input type="text" class="border-2 border-gray-700 p-2 px-10" placeholder="Search..." [(ngModel)]="makeSearch">
      </div>
    </div>
  <div>
    <app-list [makeSearch]="makeSearch" [todoItems]="todoItems" [inProgressItems]="inProgressItems" [testItems]="testItems" [prodItems]="prodItems"></app-list>
  </div>
</div>
</div>