<div class="h-fit w-full border-2 border-gray-700 grid grid-row-2">
    <div class="h-fit w-full grid grid-cols-4">
      <div class="text-center p-2">
        <Button class="bg-gray-600 px-4 rounded text-white" (click)="sortByName()">Sort by name</Button>
      </div>
      <div class="text-center p-2">
        <Button class="bg-gray-600 text-white px-4 rounded">Sort</Button>
      </div>
      <div class="text-center p-2">
        <Button class="bg-gray-600 text-white px-4 rounded" (click)="sortByTest()">Sort by status</Button>
      </div>
      <div class="text-center p-2">
        <Button class="bg-gray-600 text-white px-4 rounded">Sort</Button>
      </div>
    </div>
  </div>